<nav class="navbar d-flex d-lg-none justify-content-between align-items-center" aria-label="Primary">
  <a aria-label="{{ .Site.Title }} logo" class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
    {{ partial "logo.html" . }}
  </a>
  <div class="d-flex align-items-center">
      <button id="mobile-toggle" class="themetoggle" aria-label="Toggle Dark Theme">
          <span class="moon" aria-hidden="true">{{ partial "fontawesome.html" "solid/moon" }}</span> <span class="sun" aria-hidden="true">{{ partial "fontawesome.html" "solid/sun" }}</span>
      </button>
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation" onclick="openNav()">
      Menu
      </button>
  </div>
</nav>

<div id="navbar-mobile" class="overlay d-block d-lg-none">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar align-items-center justify-content-between">
          <a aria-label="{{ .Site.Title }} logo" class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{ partial "logo.html" . }}
          </a>
          <button type="button" class="closebtn" aria-label="Toggle navigation" onclick="closeNav()">
            <span class="inline-svg">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg>
            </span>
          </button>
        </div>
      </div>
      <div class="overlay-content">
        <div class="container pt-4">
            {{- $firstUrlElement := print "/" (index (split .RelPermalink "/") 1) "/" -}}
            <a class="nav-link {{ if .IsHome }}active{{ else }}{{ end }}" {{ if .IsHome }}aria-current="page" {{ end }} href="{{ .Site.BaseURL }}">Home</a>
            {{ range .Site.RegularPages }}
            <a class="nav-link {{ if eq ($firstUrlElement|lower) (.RelPermalink) }}active{{ end }}" {{ if eq
                ($firstUrlElement|lower) (.RelPermalink) }}aria-current="page" {{ end }} href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ if eq ($firstUrlElement|lower) (.RelPermalink) }}
                {{ .TableOfContents }}
                {{ else }}
                {{ end }}
            {{ end }}
        </div>
      </div>
    </div>
</div>

<script>
function openNav() {
  document.getElementById("navbar-mobile").style.height = "100%";
}
function closeNav() {
  document.getElementById("navbar-mobile").style.height = "0%";
}
</script> 
